<head>
  <meta charset="utf-8">
  <title>ANZ Forex</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="A description for the application.">
  <meta name="viewport" content="initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png?v1" sizes="16x16 32x32 64x64">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-precomposed.png">
  <script type="text/javascript">
    // extend FileReader
    if (!FileReader.prototype.readAsBinaryString) {
      FileReader.prototype.readAsBinaryString = function (fileData) {
        var binary = "";
        var pt = this;
        var reader = new FileReader();      
        reader.onload = function (e) {
            var bytes = new Uint8Array(reader.result);
            var length = bytes.byteLength;
            for (var i = 0; i < length; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
          //pt.result  - readonly so assign binary
          pt.content = binary;
          pt.onload();// $(pt).trigger('onload');
      }
      reader.readAsArrayBuffer(fileData);
      }
    }
  </script>
</head>

<body>
  <div id="react-root"></div>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92081110-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
  
    gtag('config', 'UA-92081110-3');
  </script>
  
</body>

