.currency-image {
  margin-right: 10px;
}

.panel:first-child {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.panel:last-child {
  border-radius: 0 0 4px 4px;
}

.panel {
  border-bottom: none;
  margin-bottom: 0px;
  border-radius: 0px;
}