
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham-Medium.eot');
	src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Gotham-Medium.woff') format('woff'),
		url('/fonts/Gotham-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham-Bold.eot');
	src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Gotham-Bold.woff') format('woff'),
		url('/fonts/Gotham-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
}

#Preview {
  background-color: #000;
}

.header {
  text-align: center;
  margin: 0 50px 30px 50px;
  font-size: 7em;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 100px;
}

.subheader {
  text-align: center;
  margin: 0 20px 50px 50px;
  font-size: 2.6em;
  font-weight: bold;
  color: rgba(255,255,255,.8);
}

.template {
  transform-origin: top left;
  font-family: 'Gotham';
}

.template-content {
  width: 1080px;
  height: 1920px;
  position: relative;
}

.exchanges {
  padding: 30px 100px;
  font-weight: bold;
}

.exchangeitem {
  height: 80px;
  margin: 5px 0;
}
.exchangeitem-image {
  display: inline-block;
  height: 60px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.exchangeitem-name {
  text-indent: 50px;
}
.exchangeitem-name,
.exchangeitem-buying,
.exchangeitem-selling {
  color: white;
  font-size: 2.8em;
  text-transform: uppercase;
}

.exchangeitem-name.h,
.exchangeitem-buying.h,
.exchangeitem-selling.h {
  font-size: 2em;
  color: rgba(255,255,255,.8);
}

.ps {
  z-index: 10;
  position: absolute;
  bottom: 50px;
  text-align: center;
  color: white;
  font-size: 1.4em;
  margin: 100px 100px;
}