.drag-handle {
  cursor: ns-resize;
}

.currency-image {
  margin-right: 10px;
}

.panel:first-child {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.panel:last-child {
  border-radius: 0 0 4px 4px;
}

.panel {
  border-bottom: none;
  margin-bottom: 0px;
  border-radius: 0px;
}

.droppable {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #CCC;
  border: 10px solid rgba(0,0,0,.3);
  cursor: pointer;
  padding: 70px 0;
}

.droppable-active {
  border: 10px solid rgba(0,0,0,.5);
}

.droppable-accept {
  border: 10px dashed rgba(0, 125, 186, 0.3);
  background-color: rgba(0, 125, 186, 0.2);
  color: rgba(0, 125, 186, 1);
}

.droppable-reject {
  border: 10px dashed rgba(255, 0, 0, 0.30);
  background-color: rgba(255,0,0,.2);
  color: red;
}

.droppable i {
  font-size: 80px;
}