@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Index {
  // background: $cb-blue;
  text-align: left;
  border-radius: 3px;
  color: #fff;

  .jumbotron {
    background-color: #004165;
    overflow: hidden;
    position: relative;
  }

  .hero {
    width: 50%;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .hero:before {
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: -ms-linear-gradient(left, #004165 0%, rgba(0, 143, 220, 0.2) 100%);
    background: -webkit-linear-gradient(0deg, #004165, rgba(0, 143, 220, 0.2)); /* For Safari 5.1 to 6.0 */
  }

  img {
    width: 100px;
    height: auto;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 14px;
    // color: lighten($cb-blue, 25%);
    color: #fff;
    line-height: 2.2;
  }

  > div {
    display: inline-block;
    margin: 10px 0 0;

    .btn:first-child {
      margin-right: 10px;
    }

    .btn {
      border: none;
    }
  }

  footer {
    margin: 20px -20px -20px;
    border-top: 1px solid darken($cb-blue, 10%);
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 22px;
      color: lighten($cb-blue, 35%);
      margin: 0;
    }

    p a {
      color: lighten($cb-blue, 35%);
      text-decoration: underline;
    }
  }
}

@include breakpoint(tablet) {
  .Index {
    // padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {
    // padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}
