.navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #004165;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:enabled {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: #00253A;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:enabled {
  color: white;
  background: #007DBA;
}
.navbar-default .navbar-nav > li.active > a:hover {
  color: white;
  background: #007DBA;
}